apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: go-dgzhvzcb
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/sjmrhtap/go-dgzhvzcb:df636022c59fd164ebb8591652fbfbad719d2db1@sha256:18f8d6d8e28218ccfeee2af7e3e9c6f15b133820fa9ffa45df75cb4d78a179b3
        name: container-image  
